Repository LetMeDoWith/LetMeDoWith-BE, pull requests merged in 2024-12, with the labels that each got.

#27 [TAS-266] 개발 서버 구축을 위한 SAM Template 및 Lambda proxy
  .gitignore
  build.gradle
  samLocalEnvVars.json
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/handler/LambdaStreamHandler.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/HealthCheckController.java
  src/main/resources/application.yml
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/task/DowithTaskJpaRepositoryTest.java
  template.yaml
Labels: Type: Feature, Domain: Common/Util, Layer: Presentation

#28 TAS-122 : Swagger 적용
  build.gradle
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/dto/CreateTokenResult.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/handler/LambdaStreamHandler.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/WebConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/controller/AuthController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateRefreshTokenResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenRefreshReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenTempReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenTempResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/config/SwaggerConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/BadgeController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/FollowController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/MemberController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/MemberSettingController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/controller/DowithTaskController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/controller/TaskCategoryController.java
  src/main/resources/db/migration/V0.1.0__create_member_domain_table.sql
  src/main/resources/db/migration/V0.2.0__create_task_category_table.sql
Labels: Type: Config

#30 feat: swagger default server
  src/main/java/com/LetMeDoWith/LetMeDoWith/LetMeDoWithApplication.java
Labels: Type: Config

#31 개발서버 OIDC Pubkey 목록 조회
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/client/AuthClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/provider/OidcIdTokenProvider.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/CacheConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/auth/enums/SocialProvider.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/client/AppleAuthClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/client/DevKakaoAuthClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/client/GoogleAuthClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/client/KakaoAuthClient.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/BadgeJpaRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/auth/AuthIntegrationTest.java
Labels: Type: Feature, Domain: Common/Util, Domain: Member, Layer: Infrastructure, Careful
