Repository LetMeDoWith/LetMeDoWith-BE, pull requests merged in 2024-09, with the labels that each got.

#18 [TAS-186] 토큰 발급 응답 스펙 변경
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/dto/AuthTokenVO.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/dto/CreateTokenResult.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/service/AuthService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/controller/AuthController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/MemberController.java
Labels: Type: Feature, Domain: Common/Util, Layer: Controller, Layer: Service

#17 feat : 토큰 재발급 개편
  intellij-java-google-style.xml
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/client/AppleAuthClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/provider/AuthTokenProvider.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/provider/OidcIdTokenProvider.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/repository/RefreshTokenRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/service/AuthService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/enums/common/FailResponseStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/enums/common/SuccessResponseStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/exception/GlobalExceptionHandler.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/exception/RestApiAuthException.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/util/AuthUtil.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/auth/RefreshToken.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/Member.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/redisRepository/RefreshTokenRedisRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/repository/RefreshTokenRepositoryImpl.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/controller/AuthController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenRefreshReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/auth/dto/CreateTokenRefreshResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/MemberController.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/application/Member/MemberServiceTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/application/auth/provider/AuthTokenProviderTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/application/auth/service/AuthServiceTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/application/auth/service/AuthTokenProviderTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/RedisTemplateTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/auth/RefreshTokenRefreshTokenRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/MemberJpaRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/MemberSocialAccountJpaRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/auth/AuthIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/util/ResponseUtilTest.java
Labels: Type: Refactor, Layer: Model, Layer: Service, Layer: DB/Repository, Careful

#20 [TAS-110] 멤버 알람 수신 상태 변경
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/dto/MemberAlarmSettingVO.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/dto/UpdateMemberAlarmSettingCommand.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/repository/MemberRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/repository/MemberSettingRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/service/MemberService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/service/MemberSettingService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/Member.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/MemberAlarmSetting.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/MemberPushSetting.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/MemberSocialAccount.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/jpaRepository/MemberAlarmSettingJpaRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/repository/MemberRepositoryImpl.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/repository/MemberSettingRepositoryImpl.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/MemberSettingController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/dto/UpdateMemberAlarmSettingReq.java
  src/main/resources/db/migration/V2.2.0__update_member_alarm_setting_table.sql
  src/test/java/com/LetMeDoWith/LetMeDoWith/service/Member/MemberSettingServiceTest.java
Labels: Type: Feature, Domain: Member, Layer: Controller, Layer: Service, Layer: DB/Repository, Type: Test

#19 [TAS-114] 멤버 탈퇴 API
  .jpb/jpb-settings.xml
  build.gradle
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/repository/MemberRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/service/MemberService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/enums/common/FailResponseStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/Member.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/MemberTermAgree.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/repository/MemberRepositoryImpl.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/member/controller/MemberController.java
  src/main/resources/application-local-confidential.yml
  src/test/java/com/LetMeDoWith/LetMeDoWith/application/Member/MemberServiceTest.java
Labels: Type: Feature, Domain: Member, Layer: Service
