Repository LetMeDoWith/LetMeDoWith-BE, pull requests merged in 2024-03, with the labels that each got.

#7 [TAS-70][TAS-57] User 도메인 생성, Enum Converter 구현
  .jpb/jpb-settings.xml
  build.gradle
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/converter/AbstractAttributeConverter.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/converter/member/MemberStatusConverter.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/converter/member/MemberTypeConverter.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/converter/member/SocialProviderConverter.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/member/MemberStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/member/MemberType.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/model/member/Member.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/model/member/MemberFollow.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/model/member/MemberPushSetting.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/model/member/MemberSocialAccount.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/model/member/MemberStatusHistory.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/model/user/User.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/repository/user/UserRepository.java
  src/main/resources/db/migration/V1.0.0__create_member_domain_table.sql
  src/main/resources/db/migration/V1__create_user_table.sql
  src/test/java/com/LetMeDoWith/LetMeDoWith/repository/user/MemberRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/repository/user/UserRepositoryTest.java
Labels: Type: Feature, Domain: Common/Util, Domain: Member, Layer: Model

#8 AuthTokenUtil 개발, Interceptor 적용, profile 세팅
  .gitignore
  build.gradle
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/UtilConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/WebConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/common/FailResponseDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/common/RefreshTokenDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/common/ResponseDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/common/FailResponseStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/interceptor/AuthenticateInterceptor.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/util/AuthTokenUtil.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/util/HeaderUtil.java
  src/main/resources/application-local-confidential.yml
  src/main/resources/application.yml
  src/test/java/com/LetMeDoWith/LetMeDoWith/util/AuthTokenUtilTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/util/ResponseUtilTest.java
Labels: Type: Config, Domain: Common/Util, Domain: Member

#9 /token/refresh API 개발 및 Redis 연결
  .gitignore
  build.gradle
  docker/local/docker-compose.yml
  src/.DS_Store
  src/main/.DS_Store
  src/main/java/com/LetMeDoWith/LetMeDoWith/LetMeDoWithApplication.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/JpaAuditingConfiguration.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/RedisConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/UtilConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/WebConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/controller/auth/AuthController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/common/RefreshTokenDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/requestDto/CreateTokenRefreshReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/responseDto/CreateTokenRefreshResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/dto/valueObject/AccessTokenVO.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/BaseAuditEntity.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/auth/RefreshToken.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/member/Member.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/member/MemberFollow.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/member/MemberPushSetting.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/member/MemberSocialAccount.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/entity/member/MemberStatusHistory.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/enums/common/FailResponseStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/interceptor/AuthenticateInterceptor.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/provider/AuthTokenProvider.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/repository/auth/RefreshTokenRedisRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/repository/member/MemberRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/service/AuthService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/util/AuthUtil.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/util/HeaderUtil.java
  src/main/resources/application-local-confidential.yml
  src/main/resources/application.yml
  src/test/java/com/LetMeDoWith/LetMeDoWith/repository/auth/RedisTemplateTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/repository/auth/RefreshTokenRedisRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/repository/member/MemberRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/util/AuthTokenProviderTest.java
Labels: Type: Feature, Type: Config, Domain: Member, Layer: Model, Layer: Service, Layer: DB/Repository

#10 spring cache 세팅 및 테스트
  build.gradle
  src/main/java/com/LetMeDoWith/LetMeDoWith/config/CacheConfig.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/common/RedisCacheTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/common/WebClientTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/common/code/TestRepository.java
Labels: Type: Config, Domain: Member, Layer: DB/Repository
