Repository LetMeDoWith/LetMeDoWith-BE, pull requests merged in 2025-06, with the labels that each got.

#42 [TAS-360] Dowith 인증
  build.gradle
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/client/FileClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/dto/RegisterTodoTaskCommand.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/dto/RetrieveTasksResult.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/ConfirmDowithTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/RetrieveTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/enums/DowithTaskStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/model/DowithTask.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/model/DowithTaskConfirm.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/config/AwsConfig.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/task/client/AwsS3FileClient.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/controller/DowithTaskController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/ConfirmDowithTaskReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/GenerateDowithTaskConfirmImageUploadPresignedUrlsReqDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/GenerateDowithTaskConfirmImageUploadPresignedUrlsResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/RetrieveTasksResDto.java
  src/main/resources/application-local-confidential.yml
  src/main/resources/application-test-confidential.yml
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/ConfrimDowithTaskIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/RetrieveTaskIntegrationTest.java
Labels: Type: Config, Layer: Domain, Layer: Presentation, Layer: Application, Layer: Infrastructure, DomainL Dowith

#46 [TAS-382,3] Dowith 잔여 개수 처리 / 신호등 처리
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/auth/service/CreateTokenService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/member/service/BadgeService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/CreateDowithTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/DeleteDowithTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/RegisterTodoTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/TaskSummaryService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/UpdateDowithTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/converter/AbstractCombinedEnumConverter.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/converter/task/TaskLevelConverter.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/enums/task/TaskCompleteLevel.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/exception/status/FailResponseStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/common/interceptor/AuthenticateInterceptor.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/member/model/Member.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/model/DowithTask.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/model/TaskSummary.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/repository/TaskSummaryRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/service/DowithTaskRegisterAvailChecker.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/task/jpaRepository/TaskCategoryJpaRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/task/persistence/TaskSummaryRepositoryImpl.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/task/persistence/jpaRepository/TaskSummaryJpaRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/controller/DowithTaskController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/controller/TaskRewardController.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/GetRemainedDowithTaskCountRes.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/RetrieveTasksResDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/dto/UpdateDowithTaskReqDto.java
  src/main/resources/application.yml
  src/main/resources/db/migration/V0.1.0__init_db.sql
  src/main/resources/db/migration/V0.1.1__insert_initial_data.sql
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/MemberJpaRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/infrastructure/member/MemberSocialAccountJpaRepositoryTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/AbstractIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/auth/AuthIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/member/BadgeIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/CreateDowithTaskIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/DeleteDowithTaskIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/UpdateDowithTaskIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/util/ResponseUtilTest.java
Labels: Type: Feature, Layer: Domain, Layer: Presentation, Layer: Application, Layer: Infrastructure, DomainL Dowith

#47 [TAS-357]TodoTask 완료, 삭제
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/DeleteTodoTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/RegisterTodoTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/application/task/service/UpdateTodoTaskService.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/enums/TodoTaskStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/model/TodoTask.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/service/TodoTaskRoutineDateCalculator.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/presentation/task/controller/TodoTaskController.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/DeleteTodoTaskIntegrationTest.java
  src/test/java/com/LetMeDoWith/LetMeDoWith/integration/task/UpdateTodoTaskIntegrationTest.java
Labels: Type: Feature, Domain: Todo, Type: Test

#48 [TAS-405] Feedback domain, infrastructure 개발
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/feedback/model/DowithTaskFeedback.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/feedback/model/TaskFeedbackTemplate.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/feedback/model/TaskFeedbackTemplateMessage.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/feedback/repository/DowithTaskFeedbackRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/enums/TodoTaskStatus.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/domain/task/model/TodoTask.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/feedback/persistence/DowithTaskFeedbackRepositoryImpl.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/feedback/persistence/jpaRepository/DowithTaskFeedbackJpaRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/feedback/query/DowithTaskFeedbackQueryDto.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/feedback/query/DowithTaskFeedbackQueryRepository.java
  src/main/java/com/LetMeDoWith/LetMeDoWith/infrastructure/feedback/query/DowithTaskFeedbackQueryRepositoryImpl.java
  src/main/resources/db/migration/V0.3.0__create_feedback_tables.sql
Labels: Type: Feature, Layer: Domain, Layer: Infrastructure, Domain: Dowith
